#sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 300px;
  height: 100%;
  background: #000;
  z-index: 10000;
  left: -300px;
}

#sidebar.active {
  left: 0;
  overflow-y: scroll;
}

#sidebar ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}

.toggle-btn {
  background: #000;
  color: white;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 330px;
  z-index: 5000;
}

#tab {
  cursor: pointer;
}

#back {
  height: 25px;
  position: fixed;
  margin: 13px;
  margin-top: 13px;
  cursor: pointer;
}

.pastCity:hover {
  background-color: grey;
  cursor: pointer;
}
